@using FribergCarRental.Models.ViewModel
@model CreateBookingViewModel

@{
    ViewData["Title"] = $"Boka";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-custom text-white text-center">
                    <h3 class="mb-0">Boka bil</h3>
                </div>

                <div class="row g-0">
                    <!-- Left Side! -->
                    <div class="col-md-5 d-flex flex-column align-items-center p-3">
                        <img class="card-img-top rounded mb-3" src="@Model.CarImage" alt="@Model.CarModel" />

                        <ul class="list-group w-100">
                            <li class="list-group-item"><strong>Modell: </strong>@Model.CarModel</li>
                            <li class="list-group-item"><strong>Pris per dygn: </strong>@Model.CarPrice Kr</li>
                        </ul>
                    </div>

                    <!-- Right Side! -->
                    <div class="col-md-7">
                        <div class="card-body">
                            @using (Html.BeginForm("Create", "Booking", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                @Html.HiddenFor(m => m.CarId)

                                <div class="form-group">
                                    @Html.LabelFor(m => m.StartDate, "Start datum")
                                    <input type="date" class="form-control" name="StartDate" id="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
                                    @Html.ValidationMessageFor(m => m.StartDate, null, new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.EndDate, "Slut datum")
                                    <input type="date" class="form-control" name="EndDate" id="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
                                    @Html.ValidationMessageFor(m => m.EndDate, null, new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="TotalCost" class="control-label">Total kostnad</label>
                                    <input disabled class="form-control" id="TotalCost" />
                                </div>

                                <button type="submit" class="btn btn-primary">Boka</button>
                            }
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>

@section Scripts {
    @await Html.PartialAsync("~/Views/Shared/Partials/_CustomerBookingScript.cshtml")
}