@using FribergCarRental.Models.ViewModel
@model CreateBookingViewModel

@{
    ViewData["Title"] = $"Boka bil";
}

<h1>Boka</h1>

<div class="container mt-3">
    <h2>@Model.CarModel</h2>
    @using (Html.BeginForm("Create", "Booking", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.CarId)

        <div class="form-group">
            @Html.LabelFor(m => m.StartDate, "Start datum")
            <input type="date" class="form-control" name="StartDate" id="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
            @Html.ValidationMessageFor(m => m.StartDate, null, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.EndDate, "Slut datum")
            <input type="date" class="form-control" name="EndDate" id="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
            @Html.ValidationMessageFor(m => m.EndDate, null, new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="TotalCost" class="control-label">Total kostnad</label>
            <input disabled class="form-control" id="TotalCost" />
        </div>

        <button type="submit" class="btn btn-primary">Boka</button>
    }
</div>

@section Scripts {
    @await Html.PartialAsync("~/Views/Shared/Partials/_CustomerBookingScript.cshtml")
}