@model IEnumerable<FribergCarRental.Models.Entities.User>

@{
    ViewData["Title"] = "Användare";
}

<h1>Användare</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">
        <i class="fa-solid fa-plus"></i><span class="icon-margin">Lägg till</span>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>Åtgärd</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" title="Detaljer" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a class="btn btn-sm btn-warning" title="Ändra" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="btn btn-sm btn-danger @((!item.HasBookings() && item.Id != 1) ? "" : "disabled")"
                        title="Ta bort" 
                        asp-action="Delete" 
                        asp-route-id="@item.Id">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
