@using FribergCarRental.Models.ViewModel
@model RegisterViewModel

<form asp-action="Create" asp-controller="Users" asp-area="Admin" method="post">

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.ReturnUrl)

    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, "E-postadress")
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-postadress*" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Username, "Användarnamn")
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Användarnamn*" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, "Lösenord")
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Lösenord*" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, "Upprepa lösenord")
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Upprepa lösenord*" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, "Förnamn")
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Förnamn*" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, "Efternamn")
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Efternamn*" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Address, "Adress")
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Adress*" })
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.City, "Ort")
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Ort*" })
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.PostalCode, "Postnummer")
                        @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", placeholder = "Postnummer*" })
                        @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, "Telefonnummer")
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Telefonnummer*" })
                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <button type="submit" class="btn btn-success btn-block">Registrera</button>
                </div>
            </div>
        </div>
    </div>
</form>






