@using FribergCarRental.Models.ViewModel
@model ContactViewModel;

@using (Html.BeginForm("EditContact", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(u => u.Id)

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                @Html.LabelFor(m => m.FirstName, new
                    {
                        @class = "form-label mb-0"
                    })
                @Html.TextBoxFor(m => m.FirstName, new
                    {
                        @class = "form-control"
                    })
            </div>
            <div class="col-lg-6 col-md-12">
                @Html.LabelFor(m => m.LastName, new
                    {
                        @class = "form-label mb-0"
                    })
                @Html.TextBoxFor(m => m.LastName, new
                    {
                        @class = "form-control"
                    })
            </div>
            <div class="col-md-12">
                @Html.LabelFor(m => m.Address, new
                    {
                        @class = "form-label mb-0"
                    })
                @Html.TextBoxFor(m => m.Address, new
                    {
                        @class = "form-control"
                    })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.City, new
                    {
                        @class = "form-label mb-0"
                    })
                @Html.TextBoxFor(m => m.City, new
                    {
                        @class = "form-control"
                    })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.PostalCode, new
                    {
                        @class = "form-label mb-0"
                    })
                @Html.TextBoxFor(m => m.PostalCode, new
                    {
                        @class = "form-control"
                    })
            </div>
            <div class="col-lg-12">
                @Html.LabelFor(m => m.Phone, new
                    {
                        @class = "form-label mb-0"
                    })
                @Html.TextBoxFor(m => m.Phone, new
                    {
                        @class = "form-control"
                    })
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Spara</button>
    </div>
}
