@using FribergCarRental.Models.ViewModel
@model LoginViewModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Email, "E-postadress")
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-postadress*" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Lösenord")
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Lösenord*" })
    </div>

    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    <button type="submit" class="btn btn-primary btn-block">Logga in</button>
}