@using FribergCarRental.Models.Entities
@model Car

@{
    ViewData["Title"] = "Ta bort";
}

<h1>Ta Bort</h1>

<h3>Är ni säker att ni vill ta bort denna bil?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerDay)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Ta bort" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka</a>
    </form>
</div>
