@using FribergCarRental.Models.Entities
@model IEnumerable<Car>

@{
    ViewData["Title"] = "Bilar";
}

<h1>Bilar</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">
        <i class="fa-solid fa-plus"></i><span class="icon-margin">Lägg till</span>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    <a href="@item.ImageUrl" target="_blank">Visa bild</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerDay)
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" title="Detaljer" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a class="btn btn-sm btn-warning" title="Ändra" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="btn btn-sm btn-danger @(item.HasBookings() ? "disabled" : "")"
                       title="Ta bort" 
                        asp-action="Delete" 
                        asp-route-id="@item.Id">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
