@using FribergCarRental.Models.Entities
@using FribergCarRental.Services

@model IEnumerable<Car>
@inject IAuthService AuthService

@{
    ViewData["Title"] = "Våra bilar";
}

<h1>Bilar</h1>

<hr />
<div class="cards row">
    @foreach (var car in Model)
    {
        <div class="card-container col-4">
            <div class="card">
                <img src="@car.ImageUrl" class="card-img-top" alt="@car.Model">
                
                <div class="card-body">
                    <h5 class="card-title">@car.Model</h5>
                    <p class="card-text">Desc</p>
                    <p class="card-text"><strong>Pris:</strong> @car.PricePerDay SEK per dygn.</p>
                    <a class="btn btn-primary" asp-controller="Booking" asp-action="Create" asp-route-carId="@car.Id">Boka</a>
                </div>
            </div>
        </div>
    }
</div>

